
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}




.navbar{
    background-color: black;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;      
}

#title{
    float:right;
    margin: 13px 20px;
    color: white;
    font-family: monospace;
    font-weight: 700;
}

.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}
.navbar li a:hover, .navbar p:hover{
    color: red
}


 .navbar #title:hover{
    color: red;
    cursor:pointer
}





footer{
  width: 100%;
  position: relative;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
} 

footer .content .footer-header{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}
footer .content p{
  text-align: justify;
}
footer .content .lower .footer-header{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}

@media (max-width:560px){
  footer{
    position: relative;
  }
}

body, html {
    height: 100%;
    background-color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}


.hero-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: calc(100vh - 40px);
    
}





.image-text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
} 












.grid-hero {
  display: grid;
  min-height: 500px;
}

.grid-hero > * {
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}



.top-right {
  height: 200%;
}


.bottom {
  display: flex;
}

.bottom-right {
  color: #fff;
}


@media (min-width: 500px) {
  .grid-hero {
    grid-template-columns: 1fr 1fr;
  }
  
  .left {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  
  .top {
    grid-column: 1;
    grid-row: 3 / 6;
  }
  .bottom {
    grid-column: 1;
    grid-row: 6;
  }
  .bottom-right {
    grid-column: 2;
    grid-row: 5 / 7;
  }
}

@media (min-width: 800px) {
   .grid-hero {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(150px, auto) minmax(150px, auto);
    grid-auto-rows: minmax(100px, auto);
  }
  .left {
    grid-column: 1 ;
    grid-row: 1 / 6;
  }
  
  .top {
    grid-column: 2;
    grid-row: 1 / 4;
  }
  .bottom {
    grid-column: 2;
    grid-row: 4 / 6;
  }
  .bottom-right {
    grid-column: 3;
    grid-row: 3 / 6;
  }
}
